{% extends 'base.html' %}

{% block content %}
{% include 'partials/_messages.html' %}
<div class="container">
  <h1>Expenses List</h1>


	<ul class="list-group">
	<li class="list-group-item">Beer</li>
	<li class="list-group-item">Beer</li>
	<li class="list-group-item">Beer</li>
	<li class="list-group-item">Beer</li>
	<li class="list-group-item">Beer</li>
	<li class="list-group-item">Beer</li>
	<li class="list-group-item">Beer</li>
	<li class="list-group-item">Beer</li>
	<li class="list-group-item">Beer</li>
	<li class="list-group-item">Beer</li>
	<li class="list-group-item">Beer</li>
	</ul>
</div>

{% endblock content %}




</ul>