{% extends 'base.html' %} {% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Expenses</a></li>
          <li i class="breadcrumb-item active" aria-current="page">
            My Expences
          </li>
        </ol>
      </nav>
    </div>

    <div class="col-md-2">
      <a href="{% url 'add-expenses' %}" class="btn btn-primary">Add Expense</a>
    </div>
  </div>
  <div class="container">
    <table class="table-stripped table-hover">
      <thead>
        <tr>
          <th>Amount(Currency)</th>
          <th>Category</th>
          <th>Description</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>100</td>
          <td>travel</td>
          <td>ok</td>
          <td>12/12/2020</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% include 'partials/_messages.html' %} {% endblock content %}
